#Entorno virtual
venv/
ENV/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

#Archivos de Datos y Salidas 
*.json
*.csv
*.txt
*.log
*.sqlite3

#Jupyter Notebooks (Temporales y Checkpoints)
.ipynb_checkpoints/
*/.ipynb_checkpoints/
__pycache__/
*.py[cod]

# Archivos de Sistema y VS Code
.DS_Store
Thumbs.db
# Archivos multimedia pesados
audios/

# Datos del corpus (si son pesados o no querés compartirlos)
corpus/